.carousel_cont {
  width: 100%;
  height: 65vh;

  .carousel-img {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(
        0,
        0,
        0,
        0.657
      ); /* Faint overall background color */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // z-index: 1000;
      background-image: linear-gradient(
          90deg,
          rgba(10, 1, 1, 0.159) 1px,
          transparent 1px
        ),
        linear-gradient(rgba(9, 2, 2, 0.219) 1px, transparent 1px);
      background-size: 5px 5px; /* Size of each box in the grid */
    }
  }

  .carousel_body {
    position: inherit;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 99 !important;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      h2 {
        color: white;
        font-size: 3.1rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
      }

      .description {
        color: white;
        font-size: 1.3rem;
        text-align: center;
        line-height: 20px;
        margin-bottom: 20px;
        width: 60%;
      }
    }

    .btns {
      gap: 20px;
      width: 20%;
      display: flex;
      justify-content: space-between;
      opacity: 100% !important;

      button {
        border: 2px solid $default-text-color;
        padding: 5px 20px;
        width: 100%;
        font-weight: bold;
        border-radius: 50px;
        transition: 0.5s;
        font-size: medium;
        text-transform: uppercase;

        &:hover {
          background-color: $primary-color;
          color: $default-text-color;
          border-color: $default-text-color;
          transition: 0.5s;
        }
      }
    }
  }
}

.album-carousel {
  // height: 300px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;

  .carousel_inner {
    display: flex;
    width: 100%;
    min-width: 300px;
    // justify-content: space-between;

    // transition: 0.5s;

    .carousel-item {
      flex: 0 0 calc(100% / 3); /* Each item takes up one-third of the container */
    }
  }

  .carousel-footer {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: end;

    .line {
      width: 80%;
      height: 1px;
      background-color: $default-text-color;
      margin-top: 10px;
    }
    .btns {
      justify-self: end;
      display: flex;
      gap: 15px;

      button {
        border: 1px solid $default-text-color;
        padding: 2px;
        color: $dark-white-color;
        transition: 0.5s;

        &:hover {
          color: $primary-color;
          border-color: $primary-color;
          transition: 0.5s;
        }
      }
    }
  }
}

.event-carousel {
  padding: 20px 0;
  height: 360px;

  // height: 400px;

  .event_car_cont {
    height: 100%;
    overflow: hidden;

    .event_carousel_inner {
      position: relative;
      height: 100%;
      transition: 0.5s;
      width: 100%;
      // overflow: hidden;
      // justify-content: space-between;

      // transition: 0.5s;

      .event_carousel-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
      }
    }
  }
  .event_carousel-footer {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .line {
      width: 80%;
      height: 1px;
      background-color: $default-text-color;
      margin-top: 10px;
    }
    .btns {
      justify-self: end;
      display: flex;
      gap: 15px;

      button {
        border: 1px solid $default-text-color;
        padding: 2px;
        color: $dark-white-color;
        transition: 0.5s;

        &:hover {
          color: $primary-color;
          border-color: $primary-color;
          transition: 0.5s;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .carousel_cont {
    height: 50vh;

    .carousel_body {
      display: none;
    }
  }

  .album-carousel {
    .carousel_inner {
      width: 100%;
      // flex-direction: column;

      .carousel-item {
        flex: 0 0 calc(100% / 1); /* Each item takes up one-third of the container */
      }
    }
  }
}
