.modal_cont {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 4s;

  height: 100%;

  background: rgba(0, 0, 0, 0.675);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal_datas {
    width: 65%;
    height: 80%;
    overflow: hidden;
    animation: slideInDown 0.7s;

    .modal_head {
      display: flex;
      justify-content: end;
      .icon_cont {
        display: flex;
        width: 50px;
        height: 30px;
        background-color: $primary-color;
        justify-content: center;
        border-radius: 5px;
      }
      .icon {
        width: 100%;
        cursor: pointer;
        font-weight: bold;
      }
    }

    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }
}
