$primary-color: #dc1937;
$transparent_primary-color: #dc1936c4;
$tabs-background-color: #323d46;
$default-background-color: #263138;
$dark-background-color: #171e22;
$default-text-color: #ffffff;
$dark-white-color: #ffffff91;
