.artist_container {
  .banner {
    height: 350px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3 {
      font-size: 2.9rem;
      font-weight: bold;
      font-family: "Exo" sans-serif;
      word-spacing: 5px;
    }

    p {
      width: 50%;
      font-family: "roboto", sans-serif;
      font-size: 14px;
    }
  }

  .artist_list {
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 50px;
    padding: 20px;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .banner {
      height: 400px;
      h3 {
        font-size: 1.8rem;
        padding-top: 20px;
        width: 80%;
      }
      P {
        font-size: 14px;
        width: 90%;
      }
    }
  }
}
