.vid_detail_cont {
  .vid_detail {
    background-color: $tabs-background-color;
    padding: 40px 0;

    .inner {
      display: flex;
      width: 100%;

      .vidbox_container {
        width: 70%;
        background-color: $dark-background-color;
      }
    }
  }
}
