.vid_detail_cont {
  .vid_detail {
    background-color: $tabs-background-color;
    padding: 40px 0;

    .inner {
      display: flex;
      width: 100%;
      gap: 30px;

      .vidbox_container {
        width: 68%;
        background-color: $dark-background-color;
      }

      .recentPosts {
        width: 35%;
        background-color: $dark-background-color;

        .title {
          padding: 20px 20px 0 20px;
        }

        .blogs {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }
  }
  .detail_cont {
    gap: 30px;
    padding: 0;
    display: flex;
    justify-content: space-between;

    .details {
      width: 68%;
    }
    .aob {
      width: 35%;
    }
  }
}
