.blog_detail_page_header {
  position: relative;
  text-transform: capitalize;
  font-family: "Exo", sans-serif;
  padding-left: 40px;
  z-index: 99;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
    z-index: -1;
    padding: 1px;
    background-color: $default-text-color;
  }

  span {
    z-index: 99;
    background-color: $default-background-color;
    padding: 0 20px;
    font-size: 1.5rem;
    color: $default-text-color;
  }
}

.banner {
  height: 350px;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: $default-text-color;

  h3 {
    font-size: 2.9rem;
    font-weight: 600;
    font-family: "Exo", Regular;
    word-spacing: 5px;
  }

  p {
    width: 50%;
    font-family: "roboto", sans-serif;
    font-size: 14px;
  }

  @media screen and (max-width: 768px) {
    h3 {
      font-size: 1.8rem;
      padding-top: 20px;
      width: 80%;
    }
    P {
      font-size: 14px;
      width: 90%;
    }
  }
}

.wrapper {
  padding: 0 70px;

  @media screen and (max-width: 768px) {
    padding: 0 10px;
  }
}
